body {
    /* background-color: #f0f2f5; */
    
    padding: 1rem 5rem 3rem 5rem;
}

.flex {
    display: flex;
    flex-direction: row;
    max-width: 100vh;
    /* width: 200rem; */
}

.quest {
    height: 4rem;
    width: 30rem;
    display: flex;
    align-items: baseline;
    font-weight: bold;
    /* margin-right: 15rem; */
}

.others {
    height: 4rem;
    width: 10rem;
    display: flex;
    align-items: center normal;
}

.symbol {
    height: 4rem;
    width: 10rem;
    display: flex;
    align-items: end normal;
    
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 60vh;
    place-content:  normal center;
}

.section2 .textsection {
    /* display: flex;
    align-items: center;
    align-content: center; */
    display: grid;
    place-content: center normal;
}


.textsection .bold {
    color: #083b7c;
    font-size: 4rem;
    font-weight: 900;
}

.textsection .small {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textsection .footer {
    display: flex;
    place-content: center;
    gap: 2rem;
    font-weight: bold;
    font-size: 900;
}

.textsection .footer .ex {
    width: 12rem;
    height: 2rem;
    border: 1px solid #000;
    border-radius: 30px;
    display: flex;
    place-content: center ;
    align-content: center;
    padding-top: 6px;background-color: #083b7c;
}

.textsection .footer .learn {
    
    width: 12rem;
    height: 2rem;
    border: 1px solid #000;
    border-radius: 30px;
    display: flex;
    place-content: center ;
    align-content: center;
    padding-top: 6px;
}

.section2 .imagesection {
    width: 30rem;
    height: 30rem;
    
    /* background-size: 1rem;
    /* max-width: 3rem;
    max-height: 3rem; */
}